<div class="strategy" data-section="strategy">
  <div class="slider">
    <div class="swiper-container-strategy">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of items;">
          <div class="strategy__item" style="background: url({{item.backgroundImage}}) top left / cover no-repeat;">
            <div class="strategy__subtitle strategy__subtitle_indent">
              <span data-animation-delay=".4">{{item.title}}</span>
            </div>
            <div class="strategy__subtitle">
              <span data-animation-delay=".6">{{item.subtitle}}</span>
            </div>
            <div class="strategy__text i-text">
              <span data-animation-delay=".8">{{item.text}}</span>
            </div>
            <div class="strategy__title">
              <span data-animation-delay=".4">стратегия</span><br>
              <span data-animation-delay=".6">CLV 2.0</span>
            </div>
          </div>
        </div>
        <!-- Additional slides go here -->
      </div>
    </div>
  </div>
  <div class="strategy__control">
    <div class="i-button swiper-prev-slide-strategy">
      <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg"
           class="i-arrow">
        <path d="M28.2607 12.8697H1.76609M13.8715 24.7349L1.38184 12.2452M1.38227 13.4941L13.872 1.00439"
              stroke-width="1.76631" />
      </svg>
    </div>
    <div class="i-button swiper-next-slide-strategy">
      <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg"
           class="i-arrow">
        <path d="M0.757324 13.1307L27.2519 13.1307M15.1465 24.9958L27.6362 12.5062M27.6358 13.7551L15.1461 1.26539"
              stroke-width="1.76631" />
      </svg>
    </div>
  </div>
</div>

