$icomoon-font-family: "iconstoprobot" !default;
$icomoon-font-path: "../assets/fonts/iconfont/fonts" !default;

$icon-close2: "\e919";
$icon-go-up: "\e911";
$icon-reload: "\e908";
$icon-minus: "\e90a";
$icon-phone: "\e904";
$icon-close: "\e902";
$icon-arrow: "\e903";
$icon-instagram: "\e907";
$icon-basket: "\e918";
$icon-search: "\e90f";
$icon-delete: "\e905";
$icon-eye: "\e901";
$icon-check: "\e900";
$icon-plus: "\e906";
$icon-sound: "\e909";
$icon-user: "\e90b";
$icon-telegram: "\e90c";
$icon-fb: "\e90d";
$icon-vk: "\e90e";
$icon-star: "\e910";
$icon-column: "\e912";
$icon-grid-3: "\e913";
$icon-grid-2: "\e914";
$icon-sort: "\e915";
$icon-filter: "\e916";
$icon-logo: "\e917";

