<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/yandex.css" />
    <link rel="stylesheet" type="text/css" href="style/icomoon.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="style/preview.css" />
    <title>Yandex go-scooter-pass</title>
</head>
<body>
    <div class="body">
        <div class="preview preview_top">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner">
                    <div class="preview__logo">
            <span class="icon-YandexGo"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
                    </div>
<div class="preview__title">
    Вступайте в клуб Самокатов
</div>
<div class="preview__item">
    <div class="preview__text">
        Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за 
        <span class="preview__allocation">
            <span class="preview__allocation_active">499 ₽</span> 
            <span class="preview__allocation_out">3190 ₽ </span>
        </span>
    </div>
    <button class="preview__button preview__button_top">Стать частью клуба</button>
</div>
<div class="preview__item preview__item_container">
<img src="image/smkt00032.png" alt="самокат" class="preview__picture preview__picture1">
<img src="image/community.png" alt="сообщество" class="preview__picture preview__picture2">
</div>
                </div>
            </div>
        </div>
        <div class="preview">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner">
                    <div class="preview__subtitle">Вот что даёт участие в клубе</div>
                    <div class="preview__list">
                        <div class="preview__item preview__item_box">
                            <div class="preview__image"><img src="image/frameRuble.png" alt="пиктограмма" class="preview__picture"></div>
                            <div class="preview__note">
                                0 ₽ за старт в каждой поездке
                            </div>
                        </div>
                        <div class="preview__item preview__item_box">
                            <div class="preview__image"><img src="image/frameScooter.png" alt="пиктограмма" class="preview__picture"></div>
                            <div class="preview__note">
                                Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом — так у всех будет бесплатный старт
                            </div>
                        </div>
                        <div class="preview__item preview__item_box">
                            <div class="preview__image"><img src="image/frameWatch.png" alt="пиктограмма" class="preview__picture"></div>
                            <div class="preview__note">
                                Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть
                            </div>
                        </div>
                        <div class="preview__item preview__item_box">
                            <div class="preview__image"><img src="image/frameTablet.png" alt="пиктограмма" class="preview__picture"></div>
                            <div class="preview__note">
Если самокат недостаточно заряжен или с ним неудобно переходить дорогу, замените по пути на другой — это бесплатно
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner">
                    <div class="preview__subtitle">
                        Эксклюзивный доступ к событиям Самокатов
                    </div>
                    <div class="preview__item">
                        С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор Attaque de Panique
                    </div>
                    <div class="preview__item preview__item_slider">

                    </div>
                    <div class="preview__item preview__item_">

                    </div>
                </div>
            </div>
        </div>
        <div class="preview">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner"></div>
            </div>
        </div>
        <div class="preview">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner"></div>
            </div>
        </div>
        <div class="preview">
            <div class="preview__wrapper i-wrapper">
                <div class="preview__inner i-inner"></div>
            </div>
        </div>
    </div>
</body>
</html>