<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="style/yandex.css" />
    <link rel="stylesheet" type="text/css" href="style/icomoon.css" />
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="stylesheet" type="text/css" href="style/preview.css" />
    <script src="js/swiper-bundle.min.js" defer></script>
    <script src="js/main.js" defer></script>
    <title>Yandex go-scooter-pass</title>
  </head>

  <body>
    <div class="body">
      <div class="preview preview_top">
        <div class="preview__wrapper">
          <div class="preview__inner preview__inner_1">
            <div class="preview__logo">
              <span class="icon-YandexGo"
                ><span class="path1"></span><span class="path2"></span
                ><span class="path3"></span><span class="path4"></span
              ></span>
            </div>
            <div class="preview__title">
              <span class="pre-animation-state" style="transition-delay: 0.4s">Вступайте </span>
              <span class="pre-animation-state" style="transition-delay: 0.6s">в клуб </span>
              <span class="pre-animation-state" style="transition-delay: 0.8s">Самокатов</span>
            </div>
            <div class="preview__item">
              <div class="preview__text">
                <span class="pre-animation-state" style="transition-delay: 1s">Купите </span>
                <span class="pre-animation-state" style="transition-delay: 1.2s">абонемент, </span>
                <span class="pre-animation-state" style="transition-delay: 1.4s">чтобы </span>
                <span class="pre-animation-state" style="transition-delay: 1.6s">стать </span>
                <span class="pre-animation-state" style="transition-delay: 1.8s">частью </span>
                <span class="pre-animation-state" style="transition-delay: 2.0s">клуба </span>
                <span class="pre-animation-state" style="transition-delay: 2.2s">в новом </span>
                <span class="pre-animation-state" style="transition-delay: 2.4s">сезоне–2024.</span>
                <span class="pre-animation-state" style="transition-delay: 2.6s">8 месяцев за</span>
                <span class="pre-animation-state" style="transition-delay: 2.8s">
                  <span class="preview__allocation">
                    <span class="preview__allocation_active">499 ₽</span> 
                    <span class="preview__allocation_out">3190 ₽ </span>
                  </span>
                </span>
              </div>
              <button class="preview__button preview__button_top" style="transition-delay: 3s;" onclick="openLink()">
                Стать частью клуба
              </button>
            </div>
            <div class="preview__item preview__item_container" style="transition-delay: 3.2s">
              <img
                src="image/Group2087325537.png"
                alt="самокат"
                class="preview__picture preview__picture_1"
              />
              <!--img src="image/community.png" alt="сообщество" class="preview__picture preview__picture_2"-->
            </div>
          </div>
        </div>
      </div>
      <div class="preview preview_2">
        <div class="preview__wrapper">
          <div class="preview__inner preview__inner_2">
            <div class="preview__subtitle">Вот что даёт участие в клубе</div>
            <div class="preview__list">
              <div class="preview__item preview__item_box">
                <div class="preview__image preview__image_1">
                  <img
                    src="image/frameRuble.png"
                    alt="пиктограмма"
                    class="preview__picture preview__picture_0"
                  />
                </div>
                <div class="preview__note">0 ₽ за старт в каждой поездке</div>
              </div>
              <div class="preview__item preview__item_box">
                <div class="preview__image preview__image_1">
                  <img
                    src="image/frameScooter.png"
                    alt="пиктограмма"
                    class="preview__picture preview__picture_0"
                  />
                </div>
                <div class="preview__note">
                  Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта
                  с абонементом — так у всех будет бесплатный старт
                </div>
              </div>
              <div class="preview__item preview__item_box">
                <div class="preview__image preview__image_1">
                  <img
                    src="image/frameWatch.png"
                    alt="пиктограмма"
                    class="preview__picture preview__picture_0"
                  />
                </div>
                <div class="preview__note">
                  Бесплатная пауза 15 минут в поездке — например, чтобы зайти за
                  кофе или передохнуть
                </div>
              </div>
              <div class="preview__item preview__item_box">
                <div class="preview__image preview__image_1">
                  <img
                    src="image/frameTablet.png"
                    alt="пиктограмма"
                    class="preview__picture preview__picture_0"
                  />
                </div>
                <div class="preview__note">
                  Если самокат недостаточно заряжен или с ним неудобно
                  переходить дорогу, замените по пути на другой — это бесплатно
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preview preview_3" style="position: relative; overflow: hidden">
        <div class="preview__wrapper">
          <div class="preview__inner preview__inner_steps">
            <div class="preview__subtitle preview__subtitle_2 pre-animation-state">
              Эксклюзивный доступ к событиям Самокатов
            </div>
            <div class="preview__item preview__item_2">
              С абонементом — у вас доступ к специальным мероприятиям, скидки
              и классный мерч. В 2023 году мы танцевали на Даче Плюс
              с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали
              хор Attaque de Panique
            </div>
            <img
              src="image/cfee0016.png"
              alt="pic"
              class="preview__picture_3"
            />
            <img src="image/smkt00082.png" alt="pic" class="preview__picture_4" />
            <img src="image/smkt00106.png" alt="pic" class="preview__picture_5" />
            <div class="preview__item preview__item_slider">
              <div class="swiper mySwiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <div class="preview__image preview__image_step">
                      <img
                        src="image/01.png"
                        alt="фото"
                        class="preview__picture_step"
                      />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="preview__image preview__image_step">
                      <img
                        src="image/02.png"
                        alt="фото"
                        class="preview__picture_step"
                      />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="preview__image preview__image_step">
                      <img
                        src="image/05.png"
                        alt="фото"
                        class="preview__picture_step"
                      />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="preview__image preview__image_step">
                      <img
                        src="image/06.png"
                        alt="фото"
                        class="preview__picture_step"
                      />
                    </div>
                  </div>
                </div>
                <div class="preview__swiper-pagination"></div>
                <div class="preview__swiper-buttons">
                  <div class="preview__button preview__swiper-button-prev">
                    <span class="icon-left preview__arrow"></span>
                  </div>
                  <div class="preview__button preview__swiper-button-next">
                    <span class="icon-right preview__arrow"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="preview__item preview__item_steps">
              <div class="preview__image preview__image_step">
                <img
                  src="image/01.png"
                  alt="фото"
                  class="preview__picture_step"
                />
              </div>
              <div class="preview__image preview__image_step preview__image_up">
                <img
                  src="image/02.png"
                  alt="фото"
                  class="preview__picture_step"
                />
              </div>
              <div class="preview__image preview__image_step">
                <img
                  src="image/06.png"
                  alt="фото"
                  class="preview__picture_step"
                />
              </div>
              <div class="preview__image preview__image_step preview__image_up">
                <img
                  src="image/05.png"
                  alt="фото"
                  class="preview__picture_step"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preview preview_4">
        <div class="preview__wrapper">
          <div class="preview__inner preview__inner_4">
            <div class="preview__subtitle preview__subtitle_3 pre-animation-state">
              Купить абонемент и вступить в клуб смогут те, кто в Плюсе
            </div>
            <div class="preview__item preview__item_4">
              За каждую поездку на самокатах такие пользователи получают кешбэк
              баллами. Баллы можно тратить на поездки на самокатах и такси
              с Яндекс Go, покупки и заказы в других сервисах Яндекса
            </div>
            <img
              src="image/Group2087325538.png"
              alt="фото"
              class="preview__picture preview__picture_6"
            />
          </div>
        </div>
      </div>
      <div class="preview preview_5">
        <div class="preview__wrapper">
          <div class="preview__inner preview__inner_5">
            <div class="preview__item_7">
              <img
                src="image/Group2087325534.png"
                alt="фото"
                class="preview__picture preview__picture_7"
              />
            </div>
            <div class="preview__subtitle preview__subtitle_4 pre-animation-state">
              80  % наших пользователей уже в клубе и экономят на поездках
            </div>
            <div class="preview__item preview__item_8">
              Присоединяйтесь — опция начнёт действовать в начале сезона–2024.
              Об открытии сезона предупредим заранее, чтобы вы были готовы
            </div>
            <div class="preview__item">
              <button class="preview__button preview__button_4" onclick="openLink()">Хочу абонемент</button>
            </div>
          </div>
        </div>
      </div>
      <div class="preview preview_6">
        <div class="preview__wrapper">
          <div class="preview__inner">
            <div class="preview__item preview__item_footnote">
              Доп. опция «Абонемент на самокаты» на 8 месяцев (240 дней)
              активируется автоматически с момента старта сезона 2024 г.
              самокатов Яндекс Go, далее предусмотрено автопродление доп.опции
              за 399 руб./мес. Сертификат на доп.опцию «Абонемент на самокаты»
              на 8 месяцев оформляется на условиях документа
              <a
                href="https://yandex.ru/legal/scooters_seasonpass"
                class="i-link" target="_blank"
                >yandex.ru/legal/scooters_seasonpass</a
              >. Доп.опция доступна пользователям с активной подпиской (условия
              подписки:
              <a
                href="https://yandex.ru/legal/yandex_plus_conditions"
                class="i-link" target="_blank"
                >yandex.ru/legal/yandex_plus_conditions</a
              >), есть ограничения, подробнее:
              <a
                href="https://yandex.ru/legal/yandex_plus_opzii_list"
                class="i-link" target="_blank"
                >yandex.ru/legal/yandex_plus_opzii_list</a
              >. В случае отсутствия у пользователя активной подписки на дату
              активации доп.опции, пользователю предоставляется 7 дней подписки
              Яндекс Плюс бесплатно, далее автопродление — 299 руб./мес.
              Электросамокаты Яндекс Go — сервис аренды электросамокатов на
              условиях:
              <a href="https://clck.ru/gwDGn" class="i-link" target="_blank">clck.ru/gwDGn</a>.
              0+
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
