* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "YS Text", "Yandex Sans Text", sans-serif;
  color: #21201F;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  overflow: hidden;
}
.i-link {
  color: inherit;
}

@media screen and (min-width: 1280px) {

}
