* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "YS Text", "Yandex Sans Text", sans-serif;
  color: #21201F;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  overflow: hidden;
}
.i-link {
  color: inherit;
}
.pre-animation-state {
    display: inline-block;
    transform: translateY(50px);
    opacity: 0;
    transition: transform .8s, opacity .6s;
}

.animated {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (min-width: 768px) {
  .i-link:hover {
    color: #21201F;
  }
}
