* {
  margin: 0;
  padding: 0;
}
.body {
  max-width: 1440px;
  font-family: Cardo, Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
  margin: 0 auto;
  background: #ffffff;
  overflow:hidden;
}
.header__pages {
  margin: 20px 33px auto 9px;
  vertical-align: middle;
}
.header__book,
.header__menu {
  margin: auto;
}
.header__basket {
  margin: auto 51px auto 15px;
}
.blank22 {
  width: 100%;
  height: 22px;
  background: #1b3764;
}
.header100 {
  max-width: 1440px;
  background: #1b3764;
}
.header {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #1b3764;
  margin: 0 auto;
}
.left-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.right-header {
  display: flex;
  flex-wrap: wrap;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.button-order {
  width: 222px;
  height: 66px;
  background: #ffca42;
  font-size: 19px;
  font-weight: 900;
  font-family: Cardo;
  color: ##cbc7c4;
  letter-spacing: 0.57px;
border-radius:24px;
   --border-size: 2px;
  --border-angle: 0turn;
  background-image: conic-gradient(
      from var(--border-angle),
      #abc , #acb 16%, #bac 33%, #bca 50%,
    #cab 67%, #cba 84%, #abc
    ),
    conic-gradient(from var(--border-angle), transparent 5%, #48f, #c33, #859);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 5s linear infinite;
}
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }







.first-block {
  width: 100%;
  min-height: 1021px;
  background: #1b3764;
}
.button-now {
  width: 202px;
  height: 62px;
  border: 2px solid #ffca42;
}
.header__sn {
  width: 45px;
  height: 45px;
  margin: auto 5px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: Inter;
  font-size: 17px;
}
.menu__link {
  text-decoration: none;
  margin: auto 24px;
  color: #f6f8fc;
  border: 1px;
  padding: 3px;
  box-sizing: border-box;
}
.welcome {
  display: flex;
  flex-wrap: wrap;
  max-width: 1256px;
  margin: 0 91px 0 93px;
  justify-content: space-between;
}
.welcome__top {
  display: flex;
  flex-wrap: wrap;
}
.welcome__line {
  width: 35px;
  height: 2px;
  background: #ffca42;
  margin: 285px 14px auto 0;
}
.welcome__subhead {
  font-size: 21px;
  margin: 272px 0 10px 0;
  letter-spacing: 1.2px;
}
.welcome__text {
  font-family: Inter;
  font-size: 18px;
  line-height: 26px;
}
.welcome__right {
  width: 592px;
  height: 800px;
  margin: 113px 12px 10px 0;
}
.welcome__left {
  max-width: 640px;
}
.welcome__header {
  font-size: 63px;
  margin: 3px 0 27px 0;
  letter-spacing: 1.8px;
  line-height: 78px;
}
.welcome__headersp {
  margin: 0 0 0 0;
  letter-spacing: 1.3px;
}
.welcome__button {
  width: 222px;
  height: 66px;
  background: #ffca42;
  color: #1b3764;
  font-size: 19px;
  letter-spacing: 0.57px;
  margin: 44px 49px 47px 0;
}
.welcome__ul {
  display: flex;
  flex-wrap: wrap;
  list-style-image: url(https://i.ibb.co/vz2X9fw/pg-yellow-ring.png);
}
.welcome__li {
  list-style-position: inside;
  font-size: 24px;
  margin: 0 30px 0 0;
}
.welcome__span {
  font-size: 17px;
  font-family: Inner;
  margin: 0 0 0 50px;
}
.authors-book,
.trusted {
  margin: 126px auto 0 auto;
  max-width: 1320px;
  min-height: 679px;
  display: flex;
  flex-wrap: wrap;
  color: #1b3764;
  overflow: hidden;
}
.authors-book__header {
  width: 100%;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #1b3764;
  opacity: 0;
  transform: translateX(120px) translateY(400px) rotate(540deg);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
  transition-delay: 2s;
}
.authors-book__rectangle {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
}
.authors-book__part {
  max-width: 660px;
  display: flex;
  flex-wrap: wrap;
}
.authors-book__quarter {
  max-width: 290px;
  margin: 38px 30px;
}
.authors-book__printed {
  font-size: 24px;
  margin: 13px 0 27px;
}
.authors-book__text {
  font-size: 19px;
  font-family: Inter;
}
.authors-book__price {
  font-size: 21px;
  font-family: Inter;
  color: #ffca42;
  margin: 7px 0 17px;
}
.yellow-ring {
  margin: 0 10px 0 0;
}
.about-author {
  max-width: 1440px;
  min-height: 960px;
  background: #f5f8fc;
  margin: auto;
  color: #1b3764;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.about-author__left {
  width: 595px;
  height: 690px;
  background: url("https://i.ibb.co/JdR2rwL/pg-Rectangle.png");
  background-position: left 50px top 50px;
  background-repeat: no-repeat;
  margin: 150px 150px 0 40px;
}
.about-author__right {
  max-width: 570px;
  min-height: 670px;
}
.about-author__qr {
  background: #1b3764;
  margin: 54px 0;
  font-size: 18px;
  font-family: Inter;
  color: #b4c7e7;
  position: relative;
  width: 484px;
  height: 164px;
  box-sizing: border-box;
  padding: 15px 20px;
  opacity: 0;
  transform: translateX(-420px) translateY(-400px) rotate(-540deg);
  transition: opacity 0.7s ease-in-out, transform 0.8s ease-in-out;
}
.about-author__header {
  font-size: 42px;
  text-align: center;
  margin: 196px auto 23px;
  color: #1b3764;
  opacity: 0;
  transform: translateX(-720px) translateY(-400px) rotate(-360deg);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}
.about-author__rectangle {
  width: 50px;
  height: 3px;
  background: #ffca42;
}
.about-author__text {
  margin: 33px auto;
  font-size: 19px;
  font-family: Inter;
  line-height: 34px;
  opacity: 0;
  transform: translateX(500px) translateY(-400px) rotate(360deg);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
}
.about-author__card {
  position: absolute;
  left: 190px;
  top: 74px;
  line-height: 28px;
}
.about-author__name {
  position: absolute;
  left: 190px;
  top: 37px;
  color: #ffca42;
  font-family: Cardo;
  font-size: 22px;
}
.about-author__grid {
  display: grid;
  grid-template-columns: minmax(auto, 181px) minmax(auto, 200px) minmax(
      auto,
      200px
    );
  grid-auto-rows: minmax(98px, auto);
  margin: 34px 0 55px 0;
  font-size: 54px;
  line-height: 77px;
}
.about-author__grid-middle {
  border-left: 1px solid #ffca42;
  border-right: 1px solid #ffca42;
  padding: 0 37px;
}
.about-author__small {
  font-family: Inter;
  font-size: 17px;
}
.about-author__grid-left {
  padding: 0 12px;
}
.about-author__grid-right {
  padding: 0 0 0 37px;
}
.trusted__section {
  max-width: 282px;
  margin: 50px 24px;
  text-align: center;
}
.trusted__h3 {
  font-size: 24px;
  line-height: 29px;
  margin: 19px auto;
}
.book-copy {
  background: #1b3764;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  min-height: 534px;
  margin: 0 auto;
  justify-content: space-between;
}
.book-copy__section {
  margin: 70px;
  max-width: 600px;
}
.book-copy__header {
  font-size: 45px;
  transition-delay: 1s;
  opacity: 0;
  transform: translateY(400px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.book-copy__line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 24px 0;
}
.book-copy__button {
  border: 2px solid #ffca42;
  width: 222px;
  height: 66px;
  font-family: Cardo;
  font-size: 19px;
  line-height: 28px;
  background: #1b3764;
  color: #ffffff;
}
.book-copy__text {
  font-family: Inter;
  font-size: 19px;
  line-height: 28px;
  margin: 27px 0;
}
.what-will {
  background: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  min-height: 1095px;
  margin: 0 auto;
  color: #1b3764;
  align-self: flex-start;
}
.what-will__left {
  display: flex;
  flex-flow: row wrap;
  max-width: 720px;
}
.what-will__square_1,
.what-will__square_2,
.what-will__square_3,
.what-will__square_4 {
  width: 303px;
  height: 272px;
  background: #f4f8ff;
}
.what-will__square_1 {
  margin: 120px 0 0 70px;
}
.what-will__square_2 {
  margin: 120px 0 0 30px;
}
.what-will__square_3 {
  margin: 30px 0 0 70px;
}
.what-will__square_4 {
  margin: 30px 0 0 30px;
}
.what-will__ring {
  width: 50px;
  height: 50px;
  background: #ffca42;
  border-radius: 25px;
  margin: 30px;
  font-size: 24px;
  line-height: 50px;
  font-family: Cardo;
  text-align: center;
}
.what-will__yellow {
  width: 595px;
  height: 686px;
  background: url("https://i.ibb.co/SKNH2cf/pg-yellow-rectangle.png");
  background-position: left 35px top 35px;
  background-repeat: no-repeat;
  margin: 70px 70px 0px 49px;
  padding: 0;
  opacity: 0;
  transform: translateX(-600px) rotate(270deg);
  transition: opacity 0.9s ease-in-out, transform 0.8s ease-in-out;
  overflow: hidden;
}
.what-will__text {
  margin: 0 30px;
  font-size: 24px;
  line-height: 34px;
}
.what-will__header {
  text-align: center;
  width: 100%;
  margin: 126px 0 23px;
  opacity: 0;
  transform: translateX(90px) translateY(300px) rotate(-540deg);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}
.what-will__underheader {
  width: 100%;
  margin: 0;
  text-align: center;
}
.enhance-knowledge {
  display: flex;
  flex-wrap: wrap;
  color: #1b3764;
  background: #f4f8ff;
  max-width: 1440px;
  min-height: 1154px;
}
.enhance-knowledge__button {
  width: 429px;
  height: 76px;
  background: #ffca42;
  font-size: 19px;
  font-family: Cardo;
  margin: 70px 0 34px;
}
.enhance-knowledge__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 70px auto 0 auto;
}
.enhance-knowledge__rectangle {
  max-width: 635px;
  min-height: 232px;
  background: #ffffff;
  margin: 0 20px 20px 0;
}
.enhance-knowledge__ring {
  background: #ffca42;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 7px 3px 0 0;
}
.enhance-knowledge__text {
  font-family: Inter;
  font-size: 19px;
  line-height: 32px;
  margin: 21px 40px 0;
  color: #969aa0;
}
.what-will__subheader {
  font-family: Cardo;
  font-size: 24px;
  margin: 42px 0 0 40px;
}
.enhance-knowledge__grid {
  display: grid;
  grid-template-columns:
    minmax(auto, 26px) minmax(auto, 209px) minmax(auto, 26px)
    minmax(auto, 222px);
  grid-auto-rows: minmax(10px, auto);
  margin: 10px 40px 0;
  font-size: 22px;
  line-height: 31px;
  font-family: Cardo;
}
.enhance-knowledge__value {
  font-size: 17px;
  line-height: 31px;
  font-family: Inter;
  margin-left: 10px;
  color: #969aa0;
}
.enhance-knowledge__link {
  text-decoration: none;
  font-size: 19px;
  line-height: 31px;
  font-family: Inter;
  color: #1b3764;
}
.words-from {
  max-width: 1300px;
  min-height: 880px;
  background: #ffffff;
  margin: auto;
  color: #969aa0;
  display: flex;
  flex-wrap: wrap;
}
.words-from__left {
  margin: 231px 30px 0 0;
  max-width: 435px;
  overflow: hidden;
}
.words-from__center {
  margin: 130px 10px 10px 30px;
  max-width: 381px;
}
.words-from__right {
  margin: 286px 10px 10px 10px;
  max-width: 381px;
}
.words-from__header {
  font-size: 42px;
  line-height: 50px;
  font-family: Cardo;
  color: #1b3764;
  margin: 0 0 23px 0;
  opacity: 0;
  transform: translateX(600px) translateY(-400px) rotate(350deg);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}
.words-from__rating {
  font-size: 22px;
  line-height: 26px;
  font-family: Cardo;
  color: #1b3764;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0px 0;
}
.words-from__ref {
  font-size: 18px;
  line-height: 28px;
  font-family: Inter;
  color: #1b3764;
  margin: 12px 0 0px 0;
}
.words-from__ring {
  background: #ffca42;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 7px 5px 0 0;
}
.words-from__semiring {
  background: #ffca42;
  width: 10px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  margin: 7px 0 0 0;
}
.words-from__semiring-blank {
  border: 1px solid #ffca42;
  width: 9px;
  height: 18px;
  border-radius: 0 10px 10px 0;
  margin: 7px 10px 0 0;
}
.words-from__ring-blank {
  border: 1px solid #ffca42;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  margin: 7px 10px 0 0;
}
.words-from__card {
  width: 381px;
  height: 292px;
  background: #1b3764;
  margin: 0 0 20px;
  color: #b4c7e7;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateX(-600px) translateY(-600px) rotate(570deg);
  transition: opacity 0.7s ease-in-out, transform 0.6s ease-in-out;
  transition-delay: 1s;
}
.words-from__photo {
  margin: 30px 20px 0 35px;
}
.words-from__name {
  font-size: 24px;
  line-height: 29px;
  font-family: Cardo;
  color: #ffffff;
  height: 29px;
  margin: 41px 20px 15px 0;
}
.words-from__tegline {
  font-size: 22px;
  line-height: 33px;
  font-family: Cardo;
  color: #ffffff;
  margin: 0 35px;
}
.words-from__review {
  font-size: 18px;
  line-height: 29px;
  font-family: Inter;
  margin: 0 35px;
}
.words-from__ring13 {
  background: #ffca42;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  margin: 7px 5px 0 0;
}
.words-from__semiring13 {
  background: #ffca42;
  width: 6px;
  height: 13px;
  border-radius: 10px 0 0 10px;
  margin: 7px 0 0 0;
}
.words-from__semiring13-blank {
  border: 1px solid #ffca42;
  width: 5px;
  height: 11px;
  border-radius: 0 10px 10px 0;
  margin: 7px 10px 0 0;
}
.words-from__ring13-blank {
  border: 1px solid #ffca42;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  margin: 7px 10px 0 0;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  color: #1b3764;
  background: #f4f8ff;
  max-width: 1440px;
  min-height: 545px;
  overflow: hidden;
}
.articles__header {
  width: 100%;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #1b3764;
  margin: 126px auto 23px;
  opacity: 0;
  transform: translateX(500px) translateY(500px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}
.articles__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 70px auto;
  justify-content: space-between;
}
.articles__section {
  background: #ffffff;
  max-width: 420px;
  min-height: 622px;
  margin: 0 10px;
  position: relative;
}
.articles__date {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-family: Inter;
  font-size: 16px;
  line-height: 26px;
}
.articles__more {
  position: absolute;
  bottom: 34px;
  left: 30px;
  font-family: Cardo;
  font-size: 19px;
  line-height: 23px;
  color: #1b3764;
  text-decoration: underline;
}
.articles__tegline {
  margin: 25px 30px 19px;
  font-family: Cardo;
  font-size: 24px;
  line-height: 34px;
}
.articles__text {
  margin: 0 30px 10px;
  font-family: Inter;
  font-size: 19px;
  line-height: 30px;
}
.best-updates {
  display: flex;
  flex-wrap: wrap;
  color: #1b3764;
  background: #ffca42;
  max-width: 1300px;
  min-height: 489px;
  margin: 120px auto;
  overflow: hidden;
}
.best-updates_text {
  margin: 25px auto 49px;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  max-width: 550px;
  opacity: 0;
  transform: translateX(-400px) translateY(400px) rotate(540deg);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.best-updates__header {
  width: 100%;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #1b3764;
  margin: 96px auto 23px;
  opacity: 0;
  transform: translateX(400px) translateY(-400px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  overflow: hidden;
}
.email {
  background: #ffffff;
  width: 656px;
  font-size: 18px;
  line-height: 31px;
  font-family: Inter;
  border: 1px solid #dce1e9;
  height: 70px;
  margin: 49px 8px 116px;
}
.submit_btn {
  background: #1b3764;
  width: 328px;
  font-size: 18px;
  line-height: 31px;
  font-family: Inter;
  color: #ffffff;
  height: 68px;
  margin: 49px 8px 116px;
}
.best-updates__rectangle {
  width: 50px;
  height: 3px;
  background: #1b3764;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline double gray;
  text-shadow: 3px 3px 2px #f35;
}
.footer {
  background: #1b3764;
  color: #b4c7e7;
  display: flex;
  flex-wrap: wrap;
  font-family: Inter;
  font-size: 17px;
  line-height: 31px;
  min-height: 483px;
}
.footer__blank {
  height: 92px;
  width: 100%;
}
.footer__bottom {
  height: 75px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__pages {
  margin-left: 10px;
}
.footer__left {
  max-width: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 92px 0 0 70px;
  align-items: flex-start;
}
.footer__sn {
  height: 55px;
  width: 55px;
  border: 1px solid #ffca42;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 10px 0 0;
}
.footer__explore {
  width: 168px;
  margin: 95px 0 0 70px;
}
.footer__utility {
  width: 238px;
  margin: 95px 0 0 70px;
}
.footer__ul {
  list-style-image: url(https://i.ibb.co/LRMKNZj/pg-3points.png);
}
.footer__li {
  list-style-position: inside;
}
.footer__header {
  font-family: Cardo;
  font-size: 22px;
  margin-bottom: 24px;
  color: #fff;
}
.footer__link {
  color: #b4c7e7;
  text-decoration: none;
  line-height: 31px;
}
.footer__white {
  color: #fff;
  margin: 5px;
}
.footer__keep {
  max-width: 343px;
  margin: 95px 0 0 70px;
}
.footer__td {
  font-family: Cardo;
  font-size: 18px;
  color: #fff;
  width: 109px;
  height: 50px;
}

@media screen and (max-width: 500px) {
  .body__picture {
    max-width: 99%;
  }
  .welcome {
  margin: 0 10px;
}
  .email {
    max-width: 90%;
    margin: 49px auto 0;
  }
  .about-author__qr {
    margin: 10px 0;
    font-size: 12px;
    width: 360px;
  }
  .about-author__name {
    left: 170px;
    font-size: 18px;
  }
  .about-author__card {
    left: 170px;
  }
  .book-copy__section,
  .what-will__yellow,
  .about-author__left {
    margin: 10px;
  }
  .welcome__line {
    margin: 62px 10px 16px;
  }
  .welcome__subhead {
    margin: 48px 16px 16px;
  }
  .welcome__header{
    font-size:30px;
    line-height:36px;
    margin:10px;
  }
  .button-order, .button-now, .welcome__button {
  width: 136px;
  height: 36px;
  }
  .menu__link {
    margin: 12px;
  }
  .header__order, .header__basket {
    margin: 16px 51px;
  }
}

.scroll.animation {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 50ms;
}
