.i-input {
    position: relative;
    width: 100%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'IBM Plex Sans', sans-serif;

    &_invalid &__error {
        display: block;
    }

    &_invalid &__data {
        border-color: $red;
    }

    &_secret_visible &__secret:after {
        content: none;
    }

    &__label {
        font-size: 13px;
        line-height: 16px;
        color: $grey;
        text-align: left;
    }

    &__data {
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        border: 0;
        outline: none;
        border-bottom: 1px solid $light-grey;
    }

    &__error {
        display: none;
        position: absolute;
        color: $red;
        font-size: 13px;
        line-height: 14px;
        text-align: right;
        bottom: -14px;
        right: 8px;
    }

    &__secret {
        position: absolute;
        right: 0;
        bottom: 8px;
        width: 40px;
        font-size: 11px;
    }

    &_authorization &__secret {
        right: 7px;
        bottom: 7px;
        font-size: 12px;
    }

    &__secret:after {
        content: '';
        position: absolute;
        height: 21px;
        border-right: 1px solid $black;
        transform: rotate(60deg);
        left: 20px;
        bottom: -5px;
    }

    &__captcha {
        text-align: left;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        color: $grey;
    }

    &_authorization_secret &__error {
        transform: translate(-8px, 0);
    }

    &_authorization &__captcha {
        margin-top: -9px;
        gap: 17px;
    }

    &_certification_confirmation &__label {
        font-size: 16px;
        line-height: 24px;
        margin-top: -9px;
        margin-bottom: -7px;
    }

    &_certification_confirmation &__error {
        transform: translate(-8px, 0);
    }

    &__note {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $grey;
        margin-bottom: 4px;
    }

    &__label_button {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $black;
        background-color: $white;
        padding: 16px 32px;
        border: 1px solid $black;
        border-radius: 2px;
        text-align: center;
        max-width: 192px;
        max-height: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    &__file {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    &__file-list {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    &__file-list-item {
        margin-bottom: 8px;
        margin-right: 8px;
        color: $black;
    }

    &__file-list-name {
        margin-right: 8px;
    }

    &__file-list-item-size {
        color: $grey;
        margin-right: 15px;
    }

    &__file-list-remove {
        position: relative;
        color: $grey;
        font-size: 10px;
    }

    &__file-list-remove:before {
        content: $icon-close;
        font-family: $icomoon-font-family;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: -7px;
    }

    &__file-row {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}

@media screen and (min-width: $tablet-viewport) {
    .i-input {
        gap: 4px;

        &__label {
            font-size: 16px;
            line-height: 24px;
        }

        &__label_button {
            font-size: 14px;
            line-height: 16px;
        }

        &_account &__label {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 8px;
        }

        &_authorization &__captcha {
            margin-top: -3px;
            gap: 17px;
            margin-bottom: 8px;
        }

        &_authorization &__secret {
            right: -1px;
            bottom: 7px;
            font-size: 12px;
        }

        &_certification_confirmation &__label {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}