.i-link {
    text-decoration: none;
    color: inherit;

    &_color_accent {
        color: $accent;
    }

    &_color_grey {
        color: $link;
    }

    &_underlined {
        text-decoration: underline;
    }
}
