:root {
    --start-X: 400px;
    --start-Y: -540px;
    --start-Z: 540deg;
}

* {
    margin: 0;
    padding: 0;
    font-family: Rubik, Roboto, sans-serif;
    font-size: 20px;
    color: #070707;
}

.i-star {
    transition: 0.3s color;
    color: #070707;
}

.i-star_empty {
    transition: 0.3s color;
    color: #e5e5e5;
}

a {
    transition: 0.3s;
    text-decoration: none;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    position: relative;
}

.menu {
    display: block;
}

.menu__wrapper {
    width: 100%;
}

.menu__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.fixed .menu__list {
    padding: 0 24px;
}

.menu__link {
    color: #828282;
    font-weight: 600;
    margin: auto;
}

.menu__link:hover,
.portfolio .i-link:hover {
    color: #070707;
    text-decoration: underline double gray;
    text-shadow: 3px 3px 2px #f35;
}

.menu__hr {
    border-bottom: 1px solid #828282;
    height: 1px;
    max-width: 940px;
    margin: 42px auto 40px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    overflow: hidden;
    padding-top: 32px;
    gap: 16px;
}

.home__name {
    max-width: 350px;
    font-size: 48px;
    font-weight: 600;
    color: #070707;
}

.home__link {
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.home a {
    color: #070707;
}

.home a:hover {
    text-shadow: 3px 3px 2px #f35;
}

.home__whois {
    padding-top: 40px;
    text-align: center;
}

.home__language {
    writing-mode: vertical-rl;
    max-width: 30px;
    text-align: center;
    transform: rotate(180deg);
    max-height: 118px;
}

.home__photo {
    width: 100%;
    height: calc((100vw - 48px) * 0.58);
    max-height: 712px;
    margin-bottom: 64px;
    background: url("../img/photo_2019.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.about {
    padding-top: 32px;
    background: #f6f6f6;
    overflow: hidden;
}

.about__title,
.skills__title,
.portfolio__title,
.contacts__title {
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.about__line {
    border-bottom: 1px solid #f6f6f6;
    height: 1px;
    box-sizing: border-box;
}

.about__text {
    text-align: center;
    margin: 32px auto;
    max-width: 485px;
    font-size: 18px;
    line-height: 22px;
}

.skills {
    padding-top: 64px;
    overflow: hidden;
}

.skills__title {
    margin-bottom: 64px;
}

.skills__text {
    text-align: center;
    margin-bottom: 64px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    gap: 32px;
}

.skills__item {
    max-width: 166px;
    text-align: center;
}

.skills:hover .i-star {
    color: #ffd700;
}

.skills:hover .i-star_empty {
    color: #828282;
}

.skills__picture {
    height: 90px;
    margin-bottom: 32px;
    text-align: center;
}

.skills__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.skills__name {
    margin-bottom: 32px;
}

.contacts {
    text-align: center;
    overflow: hidden;
    padding-top: 32px;
}

.contacts__title,
.contacts__text {
    margin-bottom: 32px;
}

.portfolio {
    background: #f6f6f6;
    text-align: center;
    overflow: hidden;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.portfolio__title {
    margin-bottom: 32px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.portfolio__picture {
    width: 100%;
}

.contacts__input {
    width: 180px;
    height: 42px;
    border-radius: 21px;
    background: #070707;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 64px;
    transition: .3s;
}

.contacts__input:hover {
    background: #f6f6f6;
    color: #070707;
    box-shadow: 3px 3px 5px gray;
}

.contacts__note {
    margin-bottom: 100px;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 342px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.contacts__item {
    font-size: 32px;
    line-height: 32px;
    color: #424242;
    transition: .3s color .3s, .3s background-color .1s;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.contacts__item:hover {
    color: #cacaca;
    background-color: #1290f0;
}

.i-icon {
    font-size: 32px;
}

.contacts__item:hover .i-icon {
    color: #cacaca;
}

.menu__burger {
    display: none;
}

.mobil {
    display: none;
}

.mobil__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 66px 26px;
}

.mobil__list {
    list-style: none;
    font-size: 34px;
    line-height: 42px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mobil__link {
    color: #828282;
}

.mobil__link:hover {
    color: #070707;
    box-shadow: 2px 2px 3px rgb(243, 172, 172);
}

.mobil__language {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 34px;
    line-height: 42px;
    height: 100px;
    margin: 360px 0 0;
    text-align: right;
}

.fixed {
    position: fixed;
    top: 12px;
    left: 0;
    z-index: 50;
}

.scroll {
    opacity: 0;
    transform: translate(var(--start-X), var(--start-Y)) rotate(var(--start-Z));
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    overflow: hidden;
}

.scroll.animation {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 50ms;
}

.pre-animation {
    transform: translateY(50px);
    opacity: 0;
    transition: .3s transform ease-in-out, .3s opacity ease-in-out;
}

.animated {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .home__name {
        font-size: 36px;
        line-height: 40px;
    }

    .home__whois {
        padding-top: 20px;
    }

    .skills__list {
        gap: 24px;
    }

    .skills__item {
        max-width: 144px;
    }
    .menu__wrapper,
    .menu__hr {
        display: none;
    }

    .menu__line {
        display: inline-block;
        width: 27px;
        height: 18px;
        border-radius: 25px;
        position: relative;
    }

    .menu__line:before {
        content: "";
        box-shadow: 6px 6px #070707, 0 -6px #070707;
        position: absolute;
        width: 21px;
        height: 3px;
        background: #070707;
        border-radius: 10px;
        transition: transform 0.3s linear 0.2s;
        left: 0;
        top: 8px;
    }

    .menu__line:after {
        content: "";
        position: absolute;
        width: 27px;
        height: 3px;
        background: #070707;
        border-radius: 10px;
        left: 0;
        top: 8px;
        transition: transform 0.3s linear 0.2s;
    }

    .menu__burger_active .menu__line:before {
        transform: rotate(45deg);
        width: 27px;
        background: #828282;
        box-shadow: none;
    }

    .menu__burger_active .menu__line:after {
        transform: rotate(-45deg);
        background: #828282;
    }

    .mobil {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 51;
        top: 1px;
        left: 1px;
        transform: translateY(-101vh);
        transition: 0.3s transform linear, 0.3s background-color 0.4s;
        background-color: #070707;
    }

    .mobil_active {
        transform: translateY(0);
        background-color: #fafafa;
    }

    .menu__burger {
        display: block;
        position: fixed;
        right: 25px;
        top: 25px;
        z-index: 52;
    }
}

@media screen and (max-width: 480px) {
    * {
        font-size: 16px;
    }

    .body {
        padding-left: 12px;
        padding-right: 12px;
    }

    .home {
        padding-top: 48px;
        gap: 3px;
    }

    .home__name {
        font-size: 24px;
        line-height: 28px;
    }

    .home__whois {
        padding-top: 0;
    }

    .home__link {
        font-size: 12px;
        line-height: 14px;
    }

    .home__photo {
        background: url("../img/photo_2020.jpg");
        height: calc((100vw - 24px) * 1.47);
        background-size: cover;
        margin-bottom: 32px;
    }

    .about__title,
    .skills__title,
    .portfolio__title,
    .contacts__title {
        font-size: 24px;
        line-height: 30px;
    }

    .about__text {
        max-width: 316px;
    }

    .skills {
        padding-top: 32px;
    }

    .skills__list {
        justify-content: center;
    }

    .skills__picture {
        height: 60px;
        margin-bottom: 16px;
        text-align: center;
    }

    .skills__title,
    .skills__text {
        margin-bottom: 16px;
    }

    .skills__item {
        max-width: 112px;
        margin-bottom: 16px;
    }

    .skills__rating {
        margin-bottom: 16px;
    }

    .portfolio {
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 48px;
    }

    .portfolio__title {
        margin-bottom: 12px;
    }

    .portfolio__item {
        gap: 12px;
    }

    .portfolio__text {
        font-size: 16px;
    }
}