<div class="footer">
    <div class="footer__wrapper">
        <div class="footer__inner">
            <div class="footer__section">
                <div class="footer__phone">
                    <span class="icon-phone footer__icon is-mobile"></span>
                    <span class="footer__phone-number">+7 (916) 213-49-93</span>
                </div>
                <div class="footer__address is-desktop">Москва, Новодмитровская ул. 1с9, Хлебозавод</div>
                <div class="footer__email is-desktop">info@stoprobotvinyl.ru</div>
            </div>
            <div class="footer__section">
                <a class="footer__item is-desktop" href="about.html">О КОМПАНИИ</a>
                <a class="footer__item is-desktop" href="contacts.html">КОНТАКТЫ</a>
                <a class="footer__item is-desktop" href="warranty.html">ГАРАНТИЯ И ВОЗВРАТ</a>
                <div class="footer__item footer__item_group_columns">
                    <img src="../assets/images/payments/visa.svg" alt="visa" class="footer__credit-card-icon">
                    <img src="../assets/images/payments/mastercard.svg" alt="mastercard" class="footer__credit-card-icon">
                    <img src="../assets/images/payments/mir.svg" alt="mir" class="footer__credit-card-icon">
                    <img src="../assets/images/payments/jcb.svg" alt="jcb" class="footer__credit-card-icon">
                </div>
            </div>
            <div class="footer__section is-desktop">
                <a class="footer__item is-desktop" href="delivery.html">ОПЛАТА И ДОСТАВКА</a>
                <a class="footer__item is-desktop" href="error-message.html">СООБЩИТЬ ОБ ОШИБКЕ</a>
                <a class="footer__item is-desktop" href="certification.html">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</a>
            </div>
            <div class="footer__section">
                <div class="footer__social-nets">
                    <a href="#" class="i-link"><span class="icon-instagram footer__social-net-icon"></span></a>
                    <a href="#" class="i-link"><span class="icon-vk footer__social-net-icon"></span></a>
                    <a href="#" class="i-link"><span class="icon-fb footer__social-net-icon"></span></a>
                    <a href="#" class="i-link"><span class="icon-telegram footer__social-net-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="footer__inner">
            <div class="footer__copyright">2019-2023 Stoprobot Vinyl</div>
            <div class="footer__privacy-policy">
                Находясь на этом сайте вы соглашаетесь
                с&nbsp;использованием нами файлов cookie в&nbsp;соответствии с&nbsp;нашей Политикой конфиденциальности
            </div>
        </div>
    </div>
    <!-- область для уведомлений -->
    <div class="footer__popup-wrapper js-popup-wrapper"></div>
    <!-- область для уведомлений -->
</div>