<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">hip-hop</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">electronic</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">rock</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">funk/soul</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">pop</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">reggae</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">rus</a></div>
<div class="catalog__item catalog__item_padding_left_14"><a href="#" class="i-link">Показать все</a></div>