
<div
  class="mission"
  [class.mission_animate]="showFirstScreen"
>
  <div
    class="mission__mts"
    [class.mission__mts_hidden]="!showFirstScreen"
  >
    <div class="mission__cube">
      <div class="mission__logo">м</div>
    </div>
  </div>

  <div class="mission__wrapper">
    <div class="mission__container" data-section="mission">
      <div class="mission__title mission__title_with_indent">
        <div class="title-indent" data-animation-delay="0.2">помогаем людям</div>
        <div data-animation-delay="0.4">видеть вокруг себя</div>
        <div data-animation-delay="0.6">больше</div>
      </div>
      <div class="mission__text">
        <div data-animation-delay="0.8">возможностей, идей</div>
        <div data-animation-delay="1">и&nbsp;способов действовать</div>
      </div>
    </div>
    <div class="mission__image">
      <img class="mission__image-pic" src="assets/images/mission/cube_main_mobile.webp" alt="mts"/>
    </div>
    <div class="mission__container mission__container_position_bottom">
      <div class="mission__title">
        <div data-animation-delay=".4">мы создаем для</div>
        <div data-animation-delay=".6">людей и&nbsp;компаний</div>
        <div data-animation-delay=".8">цифровые сервисы</div>
        <div data-animation-delay="1">и&nbsp;технологии</div>
      </div>
      <div class="mission__text">
        <div data-animation-delay="1.2">трансформирующие привычное через</div>
        <div data-animation-delay="1.4">новый опыт, нестандартные решения</div>
        <div data-animation-delay="1.6">и&nbsp;открытый взгляд на&nbsp;мир</div>
      </div>
    </div>
  </div>
</div>
