<div class="career" data-section="career">
  <div class="career__title">
    <span class="career__title-first" data-animation-delay=".2">МТС — компания</span> <br />
    <span data-animation-delay=".4">движения</span> <br />
    <span data-animation-delay=".6">и созидания</span>
  </div>
  <div class="career__text i-text" data-animation-delay=".8">
    Мы помогаем взглянуть на развитие карьеры шире: не только расти в должности, но и пробовать себя в разных сферах
    бизнеса.
  </div>
  <div class="career__vacancies">
    <img src="../../assets/images/career/rec454.jpg" alt="карьера" class="career__img">
    <div class="career__footer">
      <div class="career__subtitle">
        <span class="career__number">(32)</span>
        <a href="#" class="i-link">
          все<br>вакансии
        </a>
      </div>
      <div class="career__note i-text" data-animation-delay=".4">
        Присоединяйтесь к нашей команде, получайте неожиданный опыт и открывайте новое
      </div>
    </div>
  </div>
</div>