<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="style/fonts.css" />
    <link rel="stylesheet" href="style/top.css" />
    <link rel="stylesheet" href="style/burger.css" />
    <link rel="stylesheet" href="style/mobile.css" />
    <script src="js/main.js"></script>
    <title>aic</title>
</head>

<body>
    <div class="top">
        <div class="top__wrapper">
            <div class="top__section top__section_left">
                <div class="top__logo">
                    <a href="#" class="i-link top__link">
                        <span class="icon-logo"></span>
                    </a>
                </div>
            </div>
            <div class="top__section top__section_desktop">
                <div class="top__list">
                    <div class="top__list-item">
                        <a href="#" class="i-link">библиотека</a>
                    </div>
                    <div class="top__list-item">
                        <a href="#" class="i-link">трендвотчинг</a>
                    </div>
                    <div class="top__list-item">
                        <a href="#" class="i-link">курсы</a>
                    </div>
                </div>
            </div>
            <div class="top__section top__section_desktop">
                <a href="#" class="i-link">
                    <button class="i-button i-button_orange">ранний доступ</button>
                </a>
            </div>
            <div class="top__section top__section_right">
                <div class="burger" onclick="burgerClick()">
                    <div class="burger__line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="mobile__list">
            <div class="mobile__section">
                <div class="mobile__item">
                    <a href="#" class="i-link mobile__link">библиотека</a>
                </div>
                <div class="mobile__item">
                    <a href="#" class="i-link mobile__link">трендвотчинг</a>
                </div>
                <div class="mobile__item">
                    <a href="#" class="i-link mobile__link">курсы</a>
                </div>
            </div>
            <div class="mobile__section">
                <div class="mobile__item mobile__item_color_orange">
                    <a href="#" class="i-link mobile__link">ранний доступ</a>
                </div>
                <div class="mobile__item">
                    <a href="#" class="i-link mobile__link"></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>