<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/swiper-bundle.min.css" />
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="style/fonts.css" />
    <link rel="stylesheet" href="style/top.css" />
    <link rel="stylesheet" href="style/burger.css" />
    <link rel="stylesheet" href="style/mobile.css" />
    <link rel="stylesheet" href="style/swiper.css" />
    <link rel="stylesheet" href="style/setting.css" />
    <link rel="stylesheet" href="style/preview.css" />
    <link rel="stylesheet" href="style/footer.css" />
    <link rel="stylesheet" href="style/popup.css" />
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js" defer></script>
    <title>Страница материала</title>
</head>
<body>
    <div class="body">
        <div class="popup popup_top">
            <div class="popup__banner">
                <div class="popup__title">
                    скидка 50% на подписку за регистрацию
                </div>
                <button class="popup__button">подробнее</button>
            </div>
        </div>
      <div class="top">
        <div class="top__wrapper">
          <div class="top__section top__section_left">
            <div class="top__logo">
              <a href="#" class="i-link top__link">
                <span class="icon-logo"></span>
              </a>
            </div>
          </div>
          <div class="top__section top__section_desktop">
            <div class="top__list">
              <div class="top__list-item">
                <a href="#" class="i-link">библиотека</a>
              </div>
              <div class="top__list-item">
                <a href="#" class="i-link">трендвотчинг</a>
              </div>
              <div class="top__list-item">
                <a href="#" class="i-link">курсы</a>
              </div>
            </div>
          </div>
          <div class="top__section top__section_desktop">
            <a href="#" class="i-link">
              <div class="i-button i-button_orange">ранний доступ</div>
            </a>
          </div>
          <div class="top__section top__section_right">
            <div class="burger" onclick="burgerClick()">
              <div class="burger__line"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile">
        <div class="mobile__list">
          <div class="mobile__section">
            <div class="mobile__item">
              <a href="#" class="i-link mobile__link">библиотека</a>
            </div>
            <div class="mobile__item">
              <a href="#" class="i-link mobile__link">трендвотчинг</a>
            </div>
            <div class="mobile__item">
              <a href="#" class="i-link mobile__link">курсы</a>
            </div>
          </div>
          <div class="mobile__section">
            <div class="mobile__item mobile__item_color_orange">
              <a href="#" class="i-link mobile__link">ранний доступ</a>
            </div>
            <div class="mobile__item">
              <a href="#" class="i-link mobile__link"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="preview_long">
        <div class="preview__wrapper">
          <div class="preview__item preview__item_long">
            <div class="preview__inner preview__inner_long">
              <div class="preview__date">
                15 марта 2023
              </div>
              <div class="preview__tag preview__tag_long">
                образование ↗
              </div>
            </div>
            <div class="preview__title preview__title_long">
              необанк борется с изменениями климата 
            </div>
            <div class="preview__image"></div>
            <img src="img/image213.jpg" alt="фото" class="preview__picture">
            <div class="preview__column">
              <div class="preview__row">
                <div class="preview__criterion">поделился</div>
                <div class="preview__value">максим семенов</div>
              </div>
              <div class="preview__row">
                <div class="preview__criterion">источники</div>
                <div class="preview__value">hmbradley</div>
                <div class="preview__value">youtube</div>
              </div>
              <div class="preview__row">
                <div class="preview__criterion">страна</div>
                <div class="preview__value">Россия 
                <span class="icon-ru"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                </div>
                <div class="preview__value">США
                  <span class="icon-us"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                </div>
                <div class="preview__value">Япония
                  <span class="icon-jp"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                </div>
              </div>
            </div>
            <div class="preview__text">
              в 2019 году на ВДНХ прошла глобальная реконструкция в честь 80 летия. сегодня ВДНХ — не только главная выставочная зона страны, но и современное общественное пространство, где москвичи и туристы могут отдыхать, участвовать в мероприятиях, учиться, знакомиться с историческими и современными знаковыми объектами.
            </div>
              <div class="preview__text">
                новые активности распределены по всей территоррии ВДНХ, однако 85% посетителей знают только о самых известных достопримечательностях, сосредоточенных вдоль главной аллеи. чтобы показать людям все возможности обновленной ВДНХ, потребовались новые инструменты для работы с  посетителями.
            </div>
            <div class="preview__text preview__text_tiny">
              цифры
            </div>
            <div class="preview__value preview__value_large">
              325 га
            </div>
            <div class="preview__criterion preview__criterion_tiny">
              общая площадь
            </div>
            <div class="preview__value preview__value_large">
              30 млн
            </div>
            <div class="preview__criterion preview__criterion_tiny">
              посетителей в год
            </div>
            <div class="preview__value preview__value_large">
49
            </div>
            <div class="preview__criterion preview__criterion_tiny">
              объектов культурного наследия, в том числе исторические павильоны и фонтаны
            </div>
            <div class="preview__text preview__text_tiny">
              Заголовок
            </div>
            <div class="preview__text preview__text_tiny">
              Разнообразный и богатый опыт говорит нам, что существующая теория требует определения и уточнения благоприятных перспектив. 
            </div>
            <div class="preview__text preview__text_tiny">
              Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокое качество позиционных исследований требует анализа приоритизации разума над эмоциями.
            </div>
          </div>
          <div class="preview__inner preview__inner_borderless">
            <div class="preview__inner preview__inner_gapless">
              <div class="preview__allocation">
                <span class="icon-big_finger"></span><span class="preview__number">12</span>
              </div>
          </div>
            <div class="preview__inner preview__inner_gapless">
              <div class="preview__allocation preview__allocation_left">
                <span class="icon-flag"></span>
              </div>
              <div class="preview__allocation preview__allocation_middle">
                <span class="icon-output"></span>
              </div>
              <div class="preview__allocation preview__allocation_right">
                <span class="icon-share"></span>
              </div>
          </div>
          </div>
          <div class="preview__footnote">
            теги: 
            <span class="i-tag">деньги</span>
            <span class="i-tag">богачества</span>
            <span class="i-tag">роскошь</span>
            <span class="i-tag">много денег</span>
            <span class="i-tag">новости роскоши</span>
          </div>
          <div class="preview__footnote">
            обложка: <a href="#" class="i-link">семен иванов</a> / <a href="#" class="i-link">тасс</a>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer__wrapper">
          <div class="footer__section footer__section_floating">
            <div class="footer__title">о новых курсах, скидках и промкодах</div>
            <div class="footer__description">
              Избранные материалы, которые не стоит пропускать — в наших
              рассылках.
            </div>
            <div class="footer__form">
              <input
                type="text"
                type="email"
                id="email"
                placeholder="почта"
                class="footer__email"
              />
              <span class="icon-right footer__icon-right"></span>
            </div>
            <div class="footer__info">
              продолжив, вы даете
              <a href="#" class="i-link footer__link_info"> согласие </a> на
              обработку персональных данных
            </div>
          </div>
          <div class="footer__section">
            <div class="footer__item">
              <a href="#" class="i-link footer__link">библиотека</a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">трендвотчинг</a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">курсы</a>
            </div>
          </div>
          <div class="footer__section">
            <div class="footer__item">
              <a href="#" class="i-link footer__link">вконтакте</a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">telegram</a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">youtube</a>
            </div>
          </div>
        </div>
        <div class="footer__container">
          <div class="footer__section">
            <a href="#" class="i-link footer__link">
              <span class="icon-logo footer__logo"></span>
            </a>
          </div>
          <div class="footer__section">© 2023</div>
          <div class="footer__section footer__section_desktop">
            <div class="footer__item">
              <a href="#" class="i-link footer__link">
                информация об оказании услуг
              </a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">
                политика конфиденциальности
              </a>
            </div>
            <div class="footer__item">
              <a href="#" class="i-link footer__link">публичная оферта</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</body>
</html>