<div class="album album_miniature ${props.classModifier}">
    <div class="album__album-wrapper">
        <div class="album__image album__image_miniature ">
            <img src="${props.src}" alt="фото" class="album__picture album__picture_miniature" />
        </div>
        <div class="album__inner album__inner_miniature">
            <div class="album__artist album__artist_miniature">${props.artist}</div>
            <div class="album__title album__title_miniature">${props.title}</div>
            <div class="album__price-sum album__price-sum_miniature">${props.sum-price}</div>
            <div class="album__price-decoding album__price-decoding_miniature">${props.counter}× ${props.price}</div>
        </div>
    </div>
</div>