<div class="album album_not_available ${props.classModifier}">
    <div class="album__album-wrapper">
        <div class="album__image">
            <img src="${props.src}" alt="фото" class="album__picture" />
        </div>
        <div class="album__wrapper">
            <div class="album__inner">
                <div class="album__artist">${props.artist}</div>
                <div class="album__title">${props.title}</div>
                <div class="album__format-long">${props.format-long}</div>
                <div class="album__label">${props.label}</div>
                <div class="album__genre">${props.genre}</div>
                <div class="album__style">${props.style}</div>
            </div>
            <div class="album__inner">
                <div class="album__price-wrapper">
                    <div class="album__format">${props.format}</div>
                    <div class="icon-basket album__icon-basket"></div>
                    <div class="album__price">${props.price}</div>
                    <div class="album__price-decoding">${props.counter}× ${props.price}</div>
                </div>
                <div class="album__different">
                    <div class="icon-sound album__icon-sound js-call-preview-window"></div>
                    <div class="icon-star album__icon-star js-call-popup js-add-to-favorite" data-message="addToFavorite"></div>
                    <div class="album__button js-call-popup" data-message="addToCart">
                        ${require('_button.html') value=`В корзину`}
                    </div>
                </div>
                <div class="album__stock-wrapper">
                    <div class="album__stock">Нет в наличии</div>
                    <span class="icon-delete album__icon-delete"></span>
                </div>
            </div>
        </div>
    </div>
</div>