<div class="i-select js-select">
    <div class="i-select__title">
        <div class="i-select__row">
            <span class="i-select__icon icon-sort"></span>
            <span class="i-select__value">по новизне</span>
        </div>
    </div>
    <div class="i-select__list">
        <div class="i-select__row">
            <span class="i-select__icon icon-sort"></span>
            <span class="i-select__item i-select__item_active">по новизне</span>
        </div>
        <div class="i-select__row">
            <span class="i-select__icon icon-sort"></span>
            <span class="i-select__item">по популярности</span>
        </div>
        <div class="i-select__row">
            <span class="i-select__icon icon-sort"></span>
            <span class="i-select__item">по цене</span>
        </div>
        <div class="i-select__row">
            <span class="i-select__icon icon-sort"></span>
            <span class="i-select__item">по алфавиту</span>
        </div>
    </div>
</div>
