<div class="settings">
    <div class="settings__title">${props.html}</div>

    <div class="settings__main-bar">
        <div class="settings__wrapper">
            ${require('_select.html')}

            <div class="settings__view-type-form">
                <label for="viewType1">
                    <input type="radio" id="viewType1" name="viewType" value="row" class="settings__view-type js-setting-view-type">
                    <span class="icon-column settings__icon settings__icon_column"></span>
                </label>
                <label for="viewType3">
                    <input type="radio" id="viewType3" name="viewType" value="grid3" class="settings__view-type js-setting-view-type" checked>
                    <span class="icon-grid-3 settings__icon settings__icon_grid-3"></span>
                </label>
                <label for="viewType2">
                    <input type="radio" id="viewType2" name="viewType" value="grid2" class="settings__view-type js-setting-view-type">
                    <span class="icon-grid-2 settings__icon settings__icon_grid-2"></span>
                </label>
            </div>
        </div>
        <div class="settings__wrapper">
            <div class="icon-filter settings__toggle-filters js-toggle-additional-filters"></div>
            <div class="settings__toggle-filters settings__toggle-filters_desktop js-toggle-additional-desktop-filters"></div>
        </div>
    </div>

    <!-- react filter -->
    <div class="settings__additional" id="settings">
        <div class="settings__go-back js-toggle-additional-filters">назад</div>
        <div class="settings__filter"></div>
    </div>
</div>
