<div class="slider slider_product">
    <div class="slider__swiper swiper" data-slider="product">
        <div class="slider__swiper-wrapper swiper-wrapper">
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/9fff32d7811dcb8d30eaab9c50e4d3b91.png" alt="фото"/>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/30a997d0df676c8fc8af1aeba8a6700b.jpg" alt="фото"/>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/19695860d33c37d8358d9e2cb38e8d861.jpg" alt="фото"/>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg" alt="фото"/>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/b662ef09934a5c98ce3b930204f4c30c.jpg" alt="фото"/>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <img class="slider__swiper-slide-image" src="../assets/images/temp/b662ef09934a5c98ce3b930204f4c31d.jpg" alt="фото"/>
            </div>
        </div>

        <div class="slider__swiper-actions">
            <div class="slider__swiper-pagination"></div>
        </div>
    </div>
</div>
