<div class="slider slider_main">
    <div class="slider__swiper slider__swiper_main swiper" data-slider="about">
        <div class="slider__swiper-wrapper swiper-wrapper">
            <img class="slider__swiper-slide-image swiper-slide" src="../assets/images/bg-about-page.jpg" alt="фото" />
            <img class="slider__swiper-slide-image swiper-slide" src="../assets/images/bg-about-page2.jpg" alt="фото" />
            <img class="slider__swiper-slide-image swiper-slide" src="../assets/images/bg-about-page.jpg" alt="фото" />
            <img class="slider__swiper-slide-image swiper-slide" src="../assets/images/bg-about-page2.jpg" alt="фото" />
        </div>
        <div class="slider__swiper-actions">
            <div class="slider__swiper-button-prev swiper-button-prev"></div>
            <div class="slider__swiper-pagination swiper-pagination"></div>
            <div class="slider__swiper-button-next swiper-button-next"></div>
        </div>
    </div>
</div>