<div class="slider slider_simple">
    <div class="slider__title">
        <div class="slider__title-text">${props.title}</div>
    </div>

    <div class="slider__swiper swiper" data-slider="${props.name}">
        <div class="slider__swiper-wrapper swiper-wrapper">
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                        classModifier=`album_main`
                        src=`../assets/images/temp/30a997d0df676c8fc8af1aeba8a6700b.jpg`
                        artist=`Kaytranada`
                        title=`99.9%`
                        format-long=`Формат: 2LP`
                        label=`Лэйбл: XL`
                        genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                        style=`Стиль: Hip Hop`
                        format=`2LP`
                        price=`5 490 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album-with-slider.html')
                        classModifier=`album_main`
                        src1=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c31d.jpg`
                        src2=`../assets/images/temp/2f46aad634acda508162b35fdbe3f7a6.jpg`
                        artist=`Alva Noto + Ryuichi Sakamoto K`
                        title=` It Was Written`
                        format-long=`Формат: 2LP`
                        label=`Лэйбл: XL`
                        genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                        style=`Стиль: Hip Hop`
                        format=`2LP`
                        price=`5 290 ₽`
                    }

                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                        classModifier=`album_main`
                        src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg`
                        artist=`Nas`
                        title=`It Was Written`
                        format-long=`Формат: 2LP`
                        label=`Лэйбл: XL`
                        genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                        style=`Стиль: Hip Hop`
                        format=`2LP`
                        price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                        classModifier=`album_main`
                        src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg`
                        artist=`Nas`
                        title=`It Was Written`
                        format-long=`Формат: 2LP`
                        label=`Лэйбл: XL`
                        genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                        style=`Стиль: Hip Hop`
                        format=`2LP`
                        price=`5 290 ₽`
                    }

                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/19695860d33c37d8358d9e2cb38e8d861.jpg`
                    artist=`Maneskin`
                    title=`Rush! (With Signed Photo)`
                    format-long=`Формат: LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`LP`
                    price=`4 990 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/30a997d0df676c8fc8af1aeba8a6700b.jpg`
                    artist=`Kaytranada`
                    title=`99.9%`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 490 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c31d.jpg`
                    artist=`Alva Noto + Ryuichi Sakamoto K`
                    title=` It Was Written`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg`
                    artist=`Nas`
                    title=`It Was Written`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg`
                    artist=`Nas`
                    title=`It Was Written`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c29b.jpg`
                    artist=`Nas`
                    title=`It Was Written`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/19695860d33c37d8358d9e2cb38e8d861.jpg`
                    artist=`Maneskin`
                    title=`Rush! (With Signed Photo)`
                    format-long=`Формат: LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`LP`
                    price=`4 990 ₽`
                    }
                </div>
            </div>

            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/b662ef09934a5c98ce3b930204f4c31d.jpg`
                    artist=`Alva Noto + Ryuichi Sakamoto K`
                    title=` It Was Written`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul, Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 290 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/30a997d0df676c8fc8af1aeba8a6700b.jpg`
                    artist=`Kaytranada`
                    title=`99.9%`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 490 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/2f46aad634acda508162b35fdbe3f7a6.jpg`
                    artist=`Schoolboy Q`
                    title=`Habits & Contradictions`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`4 990 ₽`
                    }
                </div>
            </div>
            <div class="slider__swiper-slide swiper-slide">
                <div class="slider__swiper-slide-item">
                    ${require('_album.html')
                    classModifier=`album_main`
                    src=`../assets/images/temp/30a997d0df676c8fc8af1aeba8a6700b.jpg`
                    artist=`Kaytranada`
                    title=`99.9%`
                    format-long=`Формат: 2LP`
                    label=`Лэйбл: XL`
                    genre=`Жанр: Pop, Hip Hop, Funk/Soul`
                    style=`Стиль: Hip Hop`
                    format=`2LP`
                    price=`5 490 ₽`
                    }
                </div>
            </div>
        </div>

        <div class="slider__swiper-actions">
            <div class="slider__swiper-button-prev slider__swiper-button-prev_${props.name} swiper-button-prev"></div>
            <div class="slider__swiper-pagination swiper-pagination"></div>
            <div class="slider__swiper-button-next slider__swiper-button-next_${props.name} swiper-button-next"></div>
        </div>

        <div class="slider__additional-actions js-slider-additional-actions">
            <div class="slider__swiper-button-prev slider__swiper-button-prev_${props.name} swiper-button-prev slider__swiper-button-prev_double-full"></div>
            <div class="slider__swiper-button-next slider__swiper-button-next_${props.name} swiper-button-next slider__swiper-button-next_double-full"></div>
        </div>
    </div>

    <div class="js-slider-additional-wrapper"></div>
</div>
