.main {
    padding-bottom: 40px;

    &__slider {
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 12px;
        min-width: 360px;
    }

    &__slider-items {
        position: absolute;
        opacity: 0;
        padding: var(--main-padding) 0 12px;
        transition: opacity;
        transition-duration: .2s;
        transition-delay: .2s;
    }

    &__slider-items_active {
        position: relative;
        opacity: 1;
    }
}

@media screen and (min-width: $tablet-viewport) {
    .main {
        &__slider {
            margin-bottom: 2px;
        }

        &__item {
            grid-template-rows: 400px 400px;
        }
    }
}

@media screen and (min-width: $desktop-viewport) {
    .main {
        padding-bottom: 0;

        &__slider-items {
            padding-top: 88px;
            padding-bottom: 3px;
        }
    }
}
