@font-face{
    font-family: "Suisse Intl Regular";
    src: url("../fonts/Suisse Intl Regular.eot");
    src: url("../fonts/Suisse Intl Regular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Suisse Intl Regular.woff")format("woff"),
        url("../fonts/Suisse Intl Regular.woff2")format("woff2"),
        url("../fonts/Suisse Intl Regular.ttf")format("truetype"),
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p7159q');
  src:  url('../fonts/icomoon.eot?p7159q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p7159q') format('truetype'),
    url('../fonts/icomoon.woff?p7159q') format('woff'),
    url('../fonts/icomoon.svg?p7159q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-big_finger:before {
  content: "\e900";
}
.icon-share:before {
  content: "\e901";
}
.icon-chain1:before {
  content: "\e902";
}
.icon-flag:before {
  content: "\e90b";
}
.icon-chain:before {
  content: "\e903";
}
.icon-output:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
}
.icon-right:before {
  content: "\e907";
}
.icon-telegram:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
