.footer {
  padding: 32px 20px 45px;
}
.footer__wrapper {
  display: flex;
  column-gap: 17%;
  row-gap: 32px;
  flex-wrap: wrap;
  padding-bottom: 64px;
}
.footer__section {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.footer__section_floating {
    max-width: 100%;
    row-gap: 8px;
    padding-bottom: 64px;
    border-bottom: 1px solid #141414;
}
.footer__title {
  color: #141414;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.48px;
  text-transform: lowercase;
  max-width: 245px;
}
.footer__description {
  color: #141414;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: lowercase;
  margin-bottom: 16px;
}
.footer__form {
  background: #eaeaeb;
  padding: 15px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.footer__email {
  color: rgba(20, 20, 20, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  background: #eaeaeb;
  border: 0;
  width: 90%;
}
.footer__icon-right {
  margin: auto 0;
  color: rgba(20, 20, 20, 0.5);
}
.footer__info {
    display: none;
}
.footer__item {
  color: #141414;
  font-variant-numeric: stacked-fractions slashed-zero;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.footer__link {
    color: #141414;
}
.footer__container {
  display: flex;
  justify-content: space-between;color: rgba(20, 20, 20, 0.50);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: lowercase;
}
.footer__logo {
    font-size: 29px;
    line-height: 29px;
    color: #141414;
}
.footer__section_desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 64px;
  }
  .footer__wrapper {
  justify-content: space-between;
  flex-wrap: nowrap;
    padding-bottom: 56px;
    column-gap: 32px;
  }
  .footer__inner {
  }
  .footer__section {
    margin: auto 0 0;
  }
.footer__section_floating {
    max-width: 448px;
    row-gap: 12px;
    order: 3;
    padding-bottom: 0;
    border-bottom: 0;
}
    .footer__title {
        margin-bottom: 6px;
  }
  .footer__description {
    display: none;
  }
  .footer__form {
  }
  .footer__email {
  }
  
  .footer__icon-right {
    cursor: pointer;
  }
  .footer__info {
      display: block;
      color: #141414;
      font-variant-numeric: oldstyle-nums proportional-nums;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.14px;
      opacity: 0.6;
  }
  .footer__item {
    font-variant-numeric: oldstyle-nums proportional-nums slashed-zero;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.32px;
  }
  .footer__link_info {
    text-decoration-line: underline;
  }
  .footer__link:hover {
    color: rgba(20, 20, 20, 0.5);
  }
  .footer__container {
  }
  .footer__section_desktop {
    display: inherit;
  }
}
