.setting {
  font-size: 20px;
  user-select: none;
  padding: 32px 21px 48px;
  background: #f5f5f5;
  position: relative;
}

.setting__wrapper {
  display: flex;
  justify-content: space-between;
}

.setting__type-form {
  display: flex;
  flex-direction: column;
  color: rgba(20, 20, 20, 0.5);
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: lowercase;
}

.setting__view-type {
  display: none;
}

.setting__view-type-label {
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  border-radius: 6px;
  font-feature-settings: "clig" off, "liga" off;
  transition: color 0.3s;
}

.setting__view-type:checked + .setting__view-type-label {
  color: #f63;
}

.setting__view-type:checked + .setting__view-type-label:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #141414;
  cursor: pointer;
  content: "";
  margin: 0 0 0 8px;
}

.setting__icon-close {
  color: rgba(20, 20, 20, 0.3);
  margin-left: 8px;
  vertical-align: middle;
}

.setting__icon-plus {
  margin-left: 8px;
  vertical-align: middle;
  transform: rotate("45deg");
  display: inline-block;
}

.setting__filters {
  display: none;
  position: absolute;
  border-radius: 32px 32px 0px 0px;
  padding: 32px;
  background: #fff;
  top: 60px;
}
.setting__filters_active {
  display: block;
  width: calc(100% - 40px);
}

.setting__filter-content {
  display: none;
  width: 100%;
}

.setting__filter {
  display: flex;
  justify-content: space-between;
  column-gap: ;
  flex-wrap: wrap;
  color: #141414;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: lowercase;
}

.setting__filter-input {
  display: none;
}
.setting__filter_active .setting__filter-content {
  display: flex;
  flex-direction: column;
  color: #141414;
  row-gap: 6px;
  padding: 15px 22px;
  min-width: 314px;
}
.setting__filter-label {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.setting__filter-label_reset {
  display: none;
}
.setting__filter-label_all {
  margin: 24px 0 32px;
  border-top: 1px solid rgba(20, 20, 20, 0.3);
  padding: 12px 0 3px;
  color: rgba(20, 20, 20, 0.5);
}

.setting__filter-item {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  text-transform: lowercase;
}

.setting__filter-counter {
  display: block;
  border-radius: 100px;
  background: #eaeaeb;
  padding: 4px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: 0.349px;
}

.setting__filter-input:checked + .setting__filter-label {
  color: #f63;
}

.setting__filter-input:checked
  + .setting__filter-label
  .setting__filter-counter {
  background-color: #f63;
  color: #fff;
}

.setting__row {
  display: none;
}

.setting__filter-triangle {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #141414;
  cursor: pointer;
  vertical-align: middle;
  margin: auto 0;
}

.setting__filter_active .setting__filter-triangle {
  border-bottom: 6px solid #141414;
  border-top: 0;
}

.setting__section {
  color: #141414;
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-transform: lowercase;
}
.setting__filter_submit {
  flex-direction: column;
}
.setting__button {
  max-width: 360px;
  height: 64px;
  padding: 20px 60px;
  margin: 0 auto;
  flex-shrink: 0;
  background: #141414;
  color: #f5f5f5;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
  border: 0;
}

@media screen and (min-width: 768px) {
  .setting {
    font-size: 18px;
    padding: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .setting__wrapper:first-child {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);
  }

  .setting__type-form {
    column-gap: 32px;
    flex-direction: row;
  }

  .setting__view-type:checked + .setting__view-type-label:after {
    display: none;
  }

  .setting__filters {
    position: inherit;
    padding: 0;
    display: flex;
    column-gap: 12px;
    background-color: inherit;
  }
  .setting__filters_active {
    width: inherit;
  }

  .setting__filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: inherit;
    column-gap: 4px;
    align-items: center;
    color: #141414;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: lowercase;
  }
  .setting__filter_active {
    position: relative;
  }
  .setting__filter_active .setting__filter-content {
    position: absolute;
    top: 24px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: #ffffff;
    row-gap: 6px;
    padding: 15px 22px;
    min-width: 314px;
    z-index: 100;
  }
  .setting__filter-label {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 6px;
  }

  .setting__filter-label_reset {
    display: inherit;
    margin-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 12px 0 3px;
    color: rgba(255, 255, 255, 0.5);
  }

  .setting__filter-item {
    display: block;
  }

  .setting__filter-counter {
    display: block;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.1);
    padding: 4px 12px;
  }

  .setting__filter-input:checked + .setting__filter-label {
    color: #f63;
  }

  .setting__filter-input:checked
    + .setting__filter-label
    .setting__filter-counter {
    background-color: #f63;
    color: #fff;
  }

  .setting__row {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .setting__tag {
    padding: 8px 24px;
    border: 2px solid rgba(20, 20, 20, 0.1);
    border-radius: 24px;
    cursor: pointer;
  }

  .setting__tag:hover {
    border: 2px solid rgba(20, 20, 20, 0.1);
    background: rgba(20, 20, 20, 0.1);
  }

  .setting__view-type-label:hover {
    color: rgba(20, 20, 20, 0.5);
  }
  .setting__section {
    display: none;
  }
  .setting__filter_submit {
    display: none;
  }
}
