* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Suisse Intl', 'Suisse Intl Regular', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

.i-button {
    cursor: pointer;
    padding: 16px;
}

.i-button_orange {
    background: center / contain no-repeat url('../img/Rectangle9194.png');
}

.i-link {
    text-decoration: none;
    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
}

.i-link_menu {
    color: rgba(20, 20, 20, 0.30);
}